.content {
  font-size: 30px;
  text-align: center;
}
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media screen and (min-width: 1024px) {
  .portfolio {
    flex-direction: row;
  }
}
